.bg-img {
    background-image: url(/BarbaraIsVanOns/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 2fr 3fr 3fr 1fr;

    row-gap: 10px;
    column-gap: 10px;

    /* height is nu vast, maar met meer content hoeft dat straks niet */
    height: 1080px;

}

h3{
    text-align: center;
    padding: 10px;
}

.main-content-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

table, tr, td{
    border: 3px solid white;

}

table td{
    height: 60px;
}

table a{
    padding: 0px;
    margin-left: 200px;
}

table h2{
    text-align: center;
}

.head-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    width: 100%;
    height: 100%;
}


/* navbar*/

.nav-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
    
.navButton {
    width: 100%;
    height: 25%;
    
    background-color: #99C34E;
    border: 1px solid #440445;
    border-radius: 3px; 
}

.navButton a {
    display: block;
    padding: 15%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #440445;
    font-weight: bolder;
}
    
.navButton a:hover {
    /* transform: scale(1.1); */
    background-color: #c1dd92;
    color: black;
    font-style: 35px;
    transition: color 0.5s ease, background-color 0.5s ease;
    }



.img-container {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    border: solid black;

}

.main-content-container {
    grid-column: 3 / 4;
    grid-row: 2 / 4;

    background-color: white;   
    height: 100%;
   
}

.main-content-container h1 {
    font-size: 30px;
    padding: 20px;
    background-color: #99C34E;
    color: #440445;
}

/* CONTACT EN INFO */

.grotecontainer{
margin-left: 50px;
border-style: solid;
line-height: 1.5;
}

.radio {
display:inline-block;
}

.grotecontainer h3 {
font-weight: bold;
color: #440445;
line-height: 2;
}

/* radio buttons */

.radiobuttons {
width: 100%;
text-align:justify;
flex-direction:column;
align-items: center;
justify-content:center;
}

/* contactgegevens */

.contactgegevens{
align-items: right;
width:200px;
}

.contact{
display:flex;
width: 300px;
justify-content:space-between;
margin-bottom: 5px;
}

.naam {
    text-align:left;
    margin:0px;
    size:40px;
    background-color:plum;
}

.bottom {
    font-size: 10px;
}

.flex-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.item {
    padding: 10px;
    color: #440445;
}

/* footer */
.foot-container {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    background-color: #000;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.icons a {
    color: rgb(255, 255, 255);
}

.foot-container p{
    font-family: 'Mystery Quest', cursive;
    text-align: center;
    color: white;
}

