.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 2fr 3fr 3fr 1fr;

    row-gap: 10px;
    column-gap: 10px;

    height: 1080px;

}

.head-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    width: 100%;
    height: 100%;
    border: solid black;
}


.nav-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    border: solid black;
}

.img-container {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    border: solid black;

}

.main-content-container {
   grid-column: 3 / 4;
   grid-row: 2 / 4;

   border: solid black;
   height: 100%;
   
}

.main-content-container h1 {
    font-size: 30px;
    padding: 20px;
}

.flex-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.item {
    padding: 10px;
    color: #440445;
}

.foot-container {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

/* CONTACT EN INFO */

.grotecontainer{
margin-left: 50px;
border-style: solid;
}

.radio {
display:inline-block;
}

h3 {
font-weight: bold;
color: #440445;
line-height: 2;
}

body {
line-height: 1.5;
}

/* radio buttons */

.radiobuttons {
width: 100%;
text-align:justify;
flex-direction:column;
align-items: center;
justify-content:center;
}

/* contactgegevens */

.contactgegevens{
align-items: right;
width:200px;
}

.contact{
display:flex;
width: 300px;
justify-content:space-between;
margin-bottom: 5px;
}

.naam {
    /* width:100%; */
    text-align:left;
    margin:0px;
    size:40px;
    background-color:plum;
}
.bottom {
    font-size: 10px;
}